@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

body[data-theme="light"] {
  --text-color-primary: #5c6064;
  --heading-color-primary: #424242;
  --background-color: white;
  --subtle-background-color: rgba(0, 0, 0, 0.05);

  --color-btn-text: #24292e;
  --color-btn-bg: #fafbfc;
  --color-btn-border: #1b1f2326;
  --color-btn-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px;
  --color-btn-inset-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;

  --subtle-border-color: rgba(0, 0, 0, 0.075);
}

body[data-theme="dark"] {
  --text-color-primary: #c9d1d9;
  --heading-color-primary: #c9d1d9;
  --background-color: #0d1117;
  --subtle-background-color: rgba(255, 255, 255, 0.05);

  --color-btn-text: #c9d1d9;
  --color-btn-bg: #21262d;
  --color-btn-border: #30363d;
  --color-btn-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  --color-btn-inset-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;

  --subtle-border-color: rgba(255, 255, 255, 0.075);
}

body[data-theme="dark"] .github-corner svg {
  filter: invert(1);
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color-primary);

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

textarea {
  color: inherit;
}

* {
  box-sizing: border-box;
}

a {
  color: #58a6ff;
}

p {
  font-size: 1em;
  line-height: 1.5;
}
